/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set base font and background */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #222;
    line-height: 1.5;
}

/* Links */
a {
    text-decoration: none;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
    color:#333
}

h1 {
    font-size: 3.2rem;
}

/* Utility classes */
.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display:flex;
    height: 64px;
    width: 100%;
    justify-content: space-between;
    padding: 16px 24px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 32px;
    width: auto;
}

.logo-text {
    display: flex;
    margin-left: 8px;
    text-transform: uppercase;
}

#colmar {
    font-weight: bold;
}

#academy {
    font-weight: normal;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 16px;
}

nav a {
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #222
}

nav a:hover, footer a:hover{
    background-color: #222;
    color: #fff;
}

.nav-mobile {
    display: none;
}

section {
    display: flex;
    padding: 32px 24px;
    justify-content: space-between;
    text-align: center;
}

section.odd {
    background-color: #c2c2c2;
}

.learn-section, .thesis-section {
    flex-direction: column;
}

.banner {
    align-items: center;
}

.information {
    align-items:start
}

.left {
    width: 60%;
    text-align: left;
}

.banner-text {
    text-align: left;
    font-size: 1.2rem;
    width: 35%;
    color: #333;
}

.start {
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 8px 0;
    transition: background-color 0.5s;
}

.start:hover {
    background-color: #555;
}

.start a {
    color: #fff;
    width: 100%;
    display: block;
}

.right-info {
    width: 40%;
    text-align: left;
    margin-left: 24px;
    border-left: 1px solid #ccc;
}

.info-box {
    display: flex;
    padding: 16px;
    margin-bottom: 4px;
    align-items: center;
}

.grey-box {
    background-color: #c2c2c2;
}

.info-image {
    width: 35%;
}

.info-text {
    width: 65%;
    padding-left: 12px;
}

.info-text h2, .info-text p {
    margin-bottom: 8px;
}

.info-description {
    font-size: 0.9rem;
}

.learn-title {
    width: 100%;
}

.learn-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 32px 40px 0 72px;
}

.learn-box {
    width: 30%;
    height: 500px;
    text-align: left;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
}

.learn-box-content {
    padding-left: 16px;
}

.learn-box img {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
}

.thesis-content {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.thesis-left {
    width: 60%;
    text-align: left;
}

.thesis-right {
    width: 40%;
    text-align: left;
    margin-left: 24px;
}

.thesis-right .info-box:first-child {
    background-color: #c2c2c2;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    font-size: 1.2rem;
}

footer a {
    color: #222;
    transition: background-color 0.3s;
}

/* Responsive Design */

@media screen and (max-width: 960px) {
    .logo {
        display: none;
    }

    .logo-text {
        display: none;
    }

    nav {
        width: 100%;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}